@media screen and (max-width: 919px) {
    /* dispositivos pequeños */
    .menu__dropdown {
        display: inline-block;
        position: relative;
    }
    .menu__content {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0,6);
        z-index: 1;
    }
    .menu__dropdown:hover .menu__content {
        display: block;
    }
    .menu__content a {
        display: block;
        color: #000000;
        background-color:antiquewhite;
        padding: 5px;
    }
    .menu__content a:hover {
        color: #FFFFFF;
        background-color: #00A4BD;
    }
}

@media (min-width: 919px) {
    /* dispositivos grandes */
    .menu{
        padding: 1rem 8rem 1rem 8rem;
    }

    .menu__button{
        display: none;
    }

    .menu__dropdown{
        display: flex;
        align-items: center;
    }

    .menu__list{
        display: inline-block;
        padding: 0rem 0.5rem 0rem 0.5rem;
        margin-right: 0.5rem;
    }

    .menu__list:hover{
        background-color: rgba(100, 148, 237, 0.521);
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: white;
    }

    .menu--rect{
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    .main{
        padding: 2rem 8rem 2rem 8rem; 
    }
}